@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-grid {
  display: grid;
  /*   we can set more accurate sizes when we have a design to follow */
  grid-template-columns:
    [full-width-start] 1fr
    [breakout-start] 1fr
    [content-start] 1fr
    [content-end] 1fr
    [breakout-end] 1fr
    [full-width-end];
}

.inherit {
  grid-template-columns: inherit;
}

.content {
  grid-column: content-start / content-end;
  display: grid;
}

.breakout {
  grid-column: breakout-start / breakout-end;
  display: grid;
}

.full-width {
  grid-column: full-width-start / full-width-end;
  display: grid;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
