@import "tailwindcss";

@theme {
  --color-beige-light: #f2eae1;
  --color-beige-medium: #d6ccc2;
  --color-beige-dark: #a79c91;
  --color-light: #fffaf5;
  --color-dark: #948b84;
  --color-darkest: #69625d;

  --font-courier-prime: var(--font-courier-prime), monospace;
  --font-italiana: var(--font-italiana), serif;
}

:root {
  --background: var(--color-beige-light);
  --foreground: #000000;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-italiana);
  }

  h2 {
    font-size: var(--text-4xl);
  }

  h3 {
    font-size: var(--text-2xl);
  }
}

@layer components {
  .button {
    display: flex;
    place-items: center;
    padding: --spacing(2);
    gap: --spacing(2);
    font-size: var(--text-sm);
    background-color: var(--color-beige-medium);
    border: 1px solid var(--color-darkest);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-lg);
    cursor: pointer;

    &:hover {
      background-color: var(--color-beige-dark);
    }

    &:focus {
      outline: 2px solid var(--color-darkest);
      outline-offset: 1px;
    }
  }

  .input-field {
    padding-block: --spacing(1);
    padding-inline: --spacing(2);
    margin-bottom: --spacing(3);
    background-color: var(--color-light);
    border: 1px solid var(--color-darkest);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-md);

    &:focus {
      outline: 2px solid var(--color-darkest);
      outline-offset: 1px;
    }
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-courier-prime), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-grid {
  display: grid;
  --spacing-md: 1rem;

  --content-max-width: 90rem;
  --breakout-max-width: 95rem;
  --padding-inline: var(--spacing-md);
  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
      var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.inherit {
  display: grid;
  grid-template-columns: inherit;
}

.content-small {
  grid-column: content-start / content-end;
  max-width: 70rem;
  width: 100%;
  justify-self: center;
}

.content-x-small {
  grid-column: content-start / content-end;
  max-width: 30rem;
  width: 100%;
  justify-self: center;
}

.content {
  grid-column: content-start / content-end;
}

.breakout {
  grid-column: breakout-start / breakout-end;
}

.full-width {
  grid-column: full-width-start / full-width-end;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}